<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="altdrag" />
  <package id="battle.net" />
  <package id="bitwarden" />
  <package id="brave" />
  <package id="cmake" />
  <package id="cpu-z" />
  <package id="discord" />
  <package id="ditto" />
  <package id="origin" />
  <package id="epicgameslauncher" />
  <package id="equalizerapo" />
  <package id="everything" />
  <package id="f.lux" />
  <package id="faceit" />
  <package id="git" />
  <package id="hwinfo" />
  <package id="icaros" />
  <package id="dotpeek" />
  <package id="lghub" />
  <package id="vscode" />
  <package id="mullvad-app" />
  <package id="nvidia-display-driver" />
  <package id="virtualbox" />
  <package id="parsec" />
  <package id="picotorrent" />
  <package id="python" />
  <package id="rapidee" />
  <package id="rufus" />
  <package id="signal" />
  <package id="slack" />
  <package id="spotify" />
  <package id="steam-client" />
  <package id="teamviewer" />
  <package id="visualstudio2022community" />
  <package id="vivaldi.install" />
  <package id="VLC" />
  <package id="windirstat" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
</packages>
